html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("DSCF2069.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: fixed;
}
nav {
    background-color: rgb(236, 236, 236);
    padding: 20px 0;
    text-align: center;
}

ul {
    display: flex;
    align-items: stretch;
    justify-content: space-around
}

li {
    display: inline;
    justify-content: space-between;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Chivo', sans-serif;
}

li a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    background-color: rgb(97, 97, 97);
}

.main-title {
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding-top: 210px;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: whitesmoke;
}

footer {
    bottom:0;
    width:100%;
    height:60px;   
    background:#6cf;
}
